In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

Переведем таргет income в 0/1 формат. Тоже самое с колонкой с полом. Колонка education в количественном виде представлена колонкой educational_num (количество лет обучения), поэтому education в построении модели не будет участвовать. Не будет участвовать в модели fnlwgt.

In [3]:
le=LabelEncoder()
data['income']=le.fit_transform(data['income'])
data['gender']=le.fit_transform(data['gender'])

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null int64
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null int64
dtypes: int64(8), object(7)
memory usage: 5.6+ MB

In [5]:
data_sel=data[['age','workclass','educational-num','marital-status','occupation','race','gender','hours-per-week']]
X=pd.get_dummies(data_sel)
y=data['income']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#LogisticRegression
model1 = LogisticRegression(solver='liblinear')
model1.fit(X_train,y_train)
print('log.regression, train score:',model1.score(X_train,y_train))
print('log.regression, test score:',model1.score(X_test,y_test))

#SGDClassifier
model2 = SGDClassifier(loss='log',penalty='l1',max_iter=3000)
model2.fit(X_train,y_train)
print('log.regression, SGD, train score:',model2.score(X_train,y_train))
print('log.regression, SGD, test score:',model2.score(X_test,y_test))

log.regression, train score: 0.8324607329842932
log.regression, test score: 0.8378489046611616
log.regression, SGD, train score: 0.8180993886922694
log.regression, SGD, test score: 0.829045246707159

Добавим capital-gain, capital-loss.

In [6]:
data_sel=data[['age','workclass','educational-num','marital-status','occupation','race',
               'gender','hours-per-week','capital-gain', 'capital-loss']]
X=pd.get_dummies(data_sel)
y=data['income']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#LogisticRegression
model1 = LogisticRegression(solver='liblinear')
model1.fit(X_train,y_train)
print('log.regression, train score:',model1.score(X_train,y_train))
print('log.regression, test score:',model1.score(X_test,y_test))

#SGDClassifier
model2 = SGDClassifier(loss='log',penalty='l1',max_iter=3000)
model2.fit(X_train,y_train)
print('log.regression, SGD, train score:',model2.score(X_train,y_train))
print('log.regression, SGD, test score:',model2.score(X_test,y_test))

log.regression, train score: 0.8480797917458832
log.regression, test score: 0.8551832389271822
log.regression, SGD, train score: 0.8115768229547515
log.regression, SGD, test score: 0.82106053367911

А потом еще чуть-чуть добавим relationship, native-country.

In [9]:
data_sel=data[['age','workclass','educational-num','marital-status','relationship','occupation','race',
               'gender','hours-per-week','capital-gain', 'capital-loss','native-country']]
X=pd.get_dummies(data_sel)
y=data['income']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

#LogisticRegression
model1 = LogisticRegression(solver='liblinear')
model1.fit(X_train,y_train)
print('log.regression, train score:',model1.score(X_train,y_train))
print('log.regression, test score:',model1.score(X_test,y_test))

#SGDClassifier
model2 = SGDClassifier(loss='log',penalty='l1',max_iter=3000)
model2.fit(X_train,y_train)
print('log.regression, SGD, train score:',model2.score(X_train,y_train))
print('log.regression, SGD, test score:',model2.score(X_test,y_test))

log.regression, train score: 0.8493960045628711
log.regression, test score: 0.856548147137105
log.regression, SGD, train score: 0.8135950159407996
log.regression, SGD, test score: 0.8237221046884597

In [13]:
pd.DataFrame(np.round(model1.coef_,2), columns=X.columns).T.sort_values(by=0,ascending=False)

                                 0
relationship_Wife             0.63
gender                        0.54
occupation_Exec-managerial    0.53
occupation_Prof-specialty     0.39
occupation_Tech-support       0.36
...                            ...
relationship_Unmarried       -1.07
race_Black                   -1.10
occupation_Other-service     -1.16
marital-status_Never-married -1.48
relationship_Own-child       -1.67

[90 rows x 1 columns]