In [85]:
import numpy as np
import pandas as pd

**Задание 1**
Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [86]:
N=10
np.flip(np.arange(N))

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

**Задание 2**
Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [87]:
N=10
(np.flip(np.arange(N))*np.eye(10)).sum()

45.0

**Задание 3**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [88]:
movies=pd.read_csv('ml-latest/movies.csv')
ratings=pd.read_csv('ml-latest/ratings.csv')

In [89]:
lr=ratings[ratings['rating']==5.0].groupby('movieId').count()[['rating']]
lr.merge(movies, on='movieId', how='left')[['title','rating']].sort_values('rating',ascending=False).head(1)

                                title  rating
315  Shawshank Redemption, The (1994)   48762

**Задание 4**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [90]:
power=pd.read_csv('power.csv')

In [91]:
print(power[ power['country'].str.contains('lat', case=False) ]['country'].unique(),\
      power[ power['country'].str.contains('lit', case=False) ]['country'].unique(),\
      power[ power['country'].str.contains('ston', case=False) ]['country'].unique())

['Latvia'] ['Lithuania'] ['Estonia']

In [92]:
power[((power['category']==4)|(power['category']==12)|(power['category']==21)) \
      &(power['year']>=2005)&(power['year']<=2010)&(power['quantity']>=0) \
      &((power['country']=='Latvia')|(power['country']=='Lithuania')| \
        (power['country']=='Estonia'))].groupby('country')[['quantity']].sum()

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122296.0

**Задание 5**
Решите систему уравнений:
4x + 2y + z = 4
x + 3y = 12
5y + 4z = -3

In [93]:
a=np.array([[4,2,1],[1,3,0],[0,5,4]])
b=np.array([4,12,-3])
np.linalg.solve(a,b).round(2)

array([ 0.47,  3.84, -5.56])